.app{
    font-family: 'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
    color: #222222;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heading-font{
    font-family: 'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: #000000;
}

.home-page-image{
    max-width:100%;
    max-height:100%;
}

.card-border{
    border-style: hidden;
}

.card-header-link{
    text-decoration: none;
    color: black;
  }

.card-header-padding{
    padding-right: -12px;
    padding-left: -12px;
}
.footer-position{
    max-width: 65%;
    position: relative;
    bottom: 0;
    background-color: white;
}

.footer-link{
  text-decoration: none;
  font-size: 20px;
}

.footer-copyright{
  text-decoration: none;
  font-size: 12px;
  color: gray;
}

.spacer-line{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-icons-style{
    color: #000000;
    margin: 3px;
}

.flex-fill {
    flex:1;
}

